img {
  float: center;
}
.center {
  text-align: center;
}
ul {
  list-style-type: none;
  font-size: 25px;
}

p {
  font-weight: bolder;
  font-size: 50px;
}

.simple {
  border-radius: 2px solid purple;
  width: center;
  background-color: gray;
  padding-top: 5%;
  margin: 0 20% 0 20%;
}
